@import '~vuetify/src/stylus/settings/_variables';
$material-light.background = none;
// $color-pack = false
@require '~vuetify/src/stylus/main.styl';

@require './general.styl';

@require './vendor/chessground.styl';
@require './vendor/chessground-theme.styl';

@require './pages/not-found.styl';
